<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::Layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Show Contacts</title>
</head>

<body>
    <section>
        <div class="card mx-3 mt-3">
            <h2 class="text-center mt-2">Your Contacts</h2>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contact,iterStat : ${userContacts}">
                        <th scope="row" th:text="${iterStat.count}">1</th>
                        <td th:text="${contact.firstName} +' '+ ${contact.lastName}">Mark</td>
                        <td th:text="${contact.mobileNumber}">Otto</td>
                        <td th:text="${contact.email}">@mdo</td>
                        <td></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>