<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
	<session-factory>
	
	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
	<property name="hibernate.connection.ussername">root</property>
	<property name="hibernate.connection.password">Alliswell@2001</property>
	<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	
	
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">true</property>
	<!--this property checks if the table is already create or not. If the table is created already then table creation is skipped.-->
	<property name="hibernate.hbm2ddl.auto">update</property>
	
	<mapping class="com.hibernate.hibernate_practice.entities.Student"/>
	
	</session-factory>
	</hibernate-configuration>